<div>
    {{location$ | async}}
</div>
<br>
<form class="location-form">
    <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Find location</mat-label>
        <input matInput placeholder="Budapest" type="text" #location (keyup.enter)="location$.next(location.value)"
            (blur)="location$.next(location.value); location.value=''">
        <mat-hint *ngIf="location.value !== ''" align="start">Hit enter to find location</mat-hint>
    </mat-form-field>

    <mat-button-toggle-group name="isHourlyData" appearance="standard" [value]="isHourlyData$.value"
        (change)="handleToggle($event)">
        <mat-button-toggle [value]="false">Daily</mat-button-toggle>
        <mat-button-toggle [value]="true">Hourly</mat-button-toggle>
    </mat-button-toggle-group>
</form>

<hr>

<br>
<div *ngIf="isHourlyData$ | async as weatherData; then hourly else daily"></div>
<ng-template #daily>
    <table>
        <thead>
            <th>Location</th>
            <th *ngFor="let day of dailyWeatherData">{{day.dt*1000 | date:'MMM d. EEE'}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let loc of locations">
                <th>{{loc.location}}</th>
                <td *ngFor="let day of loc.daily">
                    <span>{{day.temp.min | number:'1.0-0'}}-{{day.temp.max | number:'1.0-0'}}°C</span>
                    <img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}.png"
                        alt="{{day.weather[0].description}}">
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #hourly>
    <table>
        <thead>
            <th>Location</th>
            <th *ngFor="let hour of hourlyWeatherData">{{hour.dt*1000 | date:'EEE HH:mm'}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let loc of locations">
                <th>{{loc.location}}</th>
                <td *ngFor="let hour of loc.hourly">
                    <span>{{hour.temp | number:'1.0-0'}}°C</span>
                    <img src="http://openweathermap.org/img/wn/{{hour.weather[0].icon}}.png"
                        alt="{{hour.weather[0].description}}">
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>
